@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Happy+Monkey&family=JetBrains+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&family=Karla:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&family=Nunito+Sans:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,400&family=Orbitron:wght@400;800&family=Poppins:wght@200;400;500;700&family=Roboto:wght@100;300;400;500;700;900&family=Rubik+Marker+Hatch&family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Silkscreen&family=Sono:wght@300;400;700;800&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");
body {
  /* font-family: "Nunito Sans", sans-serif; */
  /* font-family: "Poppins", sans-serif; */
  /* font-family: "Karla", sans-serif; */
  /* font-family: "Silkscreen", cursive; */
}

:root {
  --primary: #fff;
  --secondary: #6379f4;
}
* {
  scrollbar-width: thin;
  scrollbar-color: var(--primary) var(--secondary);
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 15px;
}

*::-webkit-scrollbar-track {
  background: var(--primary);
  border-radius: 0px;
}

*::-webkit-scrollbar-thumb {
  background-color: var(--secondary);
  border-radius: 6px;
  border: 3px solid var(--primary);
}
.transaction-list-container {
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none; /* Firefox */
}

.transaction-list-container::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}

div > div > div > p.active {
  color: #6a4029;
  font-weight: bold;
  font-size: 18px;
  line-height: 28px;
}

.label-avatar {
  cursor: pointer;
  /* Style as you please, it will become the visible UI component. */
}

#upload-photo {
  opacity: 0;
  position: absolute;
  z-index: -1;
}

@layer components {
  .bg-base {
    /* @apply bg-[#eceff0]; */
    @apply bg-[#f7fcfd];
  }
  .bg-base-2 {
    @apply bg-[#e7ebeb];
  }
}
